body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #215086ce; /* Fondo general */
}

nav {
    width: 200px;
    background-color: #607D8B; /* Azul grisáceo */
    height: 100vh;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(5, 0, 0, 0.1);
    max-width: 1400px; /* Ajusta el ancho máximo del contenedor */
    width: 90%; /* Ocupa el 90% del ancho disponible */
    max-height: 90vh;
    overflow-y: auto;
    margin: 20px auto; /* Centra el contenedor */
}

h1 {
    color: rgb(14, 15, 10);
    font-size: 58px; /* Ajusta el tamaño */
    text-align: center;
}

h2 {
    color: rgb(14, 15, 10);
    font-size: 34px; /* Ajusta el tamaño */
    text-align: center;
}

p {
    font-size: 1.2em;
    color: #333;
}

a {
    color: #b12929; /* Enlace principal */
    text-decoration: none;
}

a:hover {
    color: #5a3c3c; /* Cambia el color al pasar el ratón */
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Elimina espacios entre bordes */
    margin: 20px 0; /* Espaciado con otros elementos */
    background-color: #fff;
    font-size: 1em; /* Tamaño estándar para el texto */
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Añade una sombra para destacar */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd; /* Bordes suaves */
    padding: 10px; /* Espaciado interno */
}

th {
    background-color: #607D8B; /* Azul grisáceo */
    color: white; /* Texto blanco para contraste */
    font-weight: bold; /* Texto en negrita */
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5; /* Fondo para filas pares */
}

tbody tr:hover {
    background-color: #e0e0e0; /* Fondo al pasar el ratón por encima */
}

/* Estilos para mostrar imágenes al pasar el mouse */
.hover-image {
    position: relative; /* Necesario para posicionar la imagen correctamente */
}

.hover-image img {
    display: none; /* La imagen está oculta por defecto */
    position: absolute; /* Permite que la imagen se superponga a otros elementos */
    top: 50%; /* Ajusta la posición vertical */
    left: 100%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%); /* Centra la imagen */
    width: 200px; /* Tamaño de la imagen */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la imagen */
    border-radius: 10px; /* Bordes redondeados para un diseño moderno */
}

.hover-image:hover img {
    display: block; /* Muestra la imagen al pasar el mouse */
}
